<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>index</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="/assets/css/styles3.min.css">
</head>

<body>
<nav class="navbar navbar-light navbar-expand-md navigation-clean-button">
    <div class="container"><a class="navbar-brand" href="/">TruckKing</a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span
                class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse"
             id="navcol-1">
            <ul class="nav navbar-nav mr-auto">
                <li class="nav-item" role="presentation"><a class="nav-link active" href="#"
                                                            th:text="#{calculate.freight}"></a></li>
            </ul>
            <span class="navbar-text actions"> <a href="/user/place-order" class="login" th:text="#{msg.login}"></a><a
                    class="btn btn-light action-button" role="button" href="/reg" th:action="@{/user/place-order}"
                    th:text="#{msg.reg}" style="background-color: #00bce2;"></a>
                </span>
            <button class="btn" type="button"
                    value="uk"
                    id="locales2"
                    style="height: 20px;background-image: url(&quot;/assets/img/ua.jpg&quot;);background-position: center;margin-right: 2px;margin-left: 15px;"></button>
            <button
                    value="en"
                    class="btn" type="button" id="locales"
                    style="height: 20px;background-image: url(&quot;/assets/img/en.jpg&quot;);background-position: center;background-size: cover;background-repeat: no-repeat;padding-right: 12px;margin: 6px;margin-top: 6px;margin-right: -27px;margin-left: 1px;"></button>
        </div>
    </div>
</nav>
<div class="register-photo">
    <div class="form-container">
        <div class="image-holder" style="background-image: url(&quot;/assets/img/TruckMountain-small.jpg&quot;);"></div>
        <form method="post">
            <h2 class="text-center"><strong th:text="#{calc.msg}"></strong></h2>
            <div class="form-row">
                <div class="col">
                    <h1 class="text-left" th:text="${firstCity}"></h1>
                </div>
                <div class="col">
                    <h1 class="text-right" th:text="${secondCity}">&nbsp;</h1>
                </div>
            </div>
            <div class="form-row">
                <div class="col">
                    <h3>Weight: <span th:text="${weight}"></span></h3>
                </div>
            </div>
            <div class="form-row">
                <div class="col">
                    <h2>Price: <span th:text="${price}"></span></h2>
                </div>
            </div>
            <a
                    class="btn btn-light action-button" role="button" href="/user/place-order"
                    th:text="#{msg.reg.guest}"
                    style="background-color: #00bce2;"></a>
        </form>
    </div>
</div>
<script src="assets/js/jquery.min.js"></script>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
<script src="assets/js/script3.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#locales").click(function () {
            var selectedOption = $('#locales').val();
            if (selectedOption != '') {
                window.location.replace('?lang=' + selectedOption);
            }
        });
    });
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#locales2").click(function () {
            var selectedOption = $('#locales2').val();
            if (selectedOption != '') {
                window.location.replace('?lang=' + selectedOption);
            }
        });
    });
</script>
</body>

</html>