<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Registration</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="style.css"/>
</head>
<body>
<button class="btn" type="button"
        value="uk"
        id="locales2"
        style="height: 20px;background-image: url(&quot;/assets/img/ua.jpg&quot;);background-position: center;margin-right: 2px;margin-left: 15px;"></button>
<button
        value="en"
        class="btn" type="button" id="locales"
        style="height: 20px;background-image: url(&quot;/assets/img/en.jpg&quot;);background-position: center;background-size: cover;background-repeat: no-repeat;padding-right: 12px;margin: 6px;margin-top: 6px;margin-right: -27px;margin-left: 1px;"></button>
<div class="login-form" align="center">
    <form  th:action="@{/login}"
          method="post">

        <div th:if="${param.error}">
            <div class="alert alert-danger" th:text="#{invalid.credentials}">
            </div>
            <div th:if="${param.logout}">
                <div class="alert alert-info">
                </div>
            </div>
        </div>
        <div class="form-group">
            <input name="${_csrf.parameterName}" value="${_csrf.token}" type="hidden">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-user"></i></span> <input id="username" name="username"
                                                                                         type="text"
                                                                                         class="form-control"
                                                                                         placeholder="Email"/>
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-lock"></i></span> <input
                    type="password" id="password" name="password" class="form-control"
                    th:placeholder="#{msg.password}"/>

            </div>
        </div>
        <div class="form-group">
            <button type="submit" th:text="#{msg.login}" class="btn btn-primary login-btn btn-block">
            </button>
        </div>
        <p class="message"><a href="http://localhost:8080/reg" th:text="#{msg.create.account}"></a></p>
    </form>
</div>
</body>
<script type="text/javascript">
    $(document).ready(function () {
        $("#locales").click(function () {
            var selectedOption = $('#locales').val();
            if (selectedOption != '') {
                window.location.replace('?lang=' + selectedOption);
            }
        });
    });
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#locales2").click(function () {
            var selectedOption = $('#locales2').val();
            if (selectedOption != '') {
                window.location.replace('?lang=' + selectedOption);
            }
        });
    });
</script>
</html>