<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Manager</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora">
    <link rel="stylesheet" href="/assets/css/styles4.min.css">
</head>

<body>
<nav class="navbar navbar-light navbar-expand-md navigation-clean-button">
    <div class="container"><a class="navbar-brand" href="#">REQUEST</a>
        <button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span
                class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse"
             id="navcol-1">
            <ul class="nav navbar-nav mr-auto">
                <li class="nav-item"><a class="nav-link"
                                        href="/master/new_requests"
                                        th:text="#{accepted.requests}"></a>
                </li>
                <li class="nav-item"><a class="nav-link"
                                        href="/master/in_progress_requests"
                                        th:text="#{in.progress.requests}"></a>
                </li>
                <li class="nav-item"><a class="nav-link"
                                        href="/master/completed_requests"
                                        th:text="#{in.progress.requests}"></a>
                </li>
            </ul>
            <span class="navbar-text actions"> <a class="login" th:href="@{/logout}" th:text="#{nav.logout}"></a></span>
            <button class="btn" type="button" id="locales" value="uk"
                    style="height: 20px;background-image: url(&quot;/assets/img/ua.jpg&quot;);background-position: center;margin-right: 2px;margin-left: 15px;"></button>
            <button
                    class="btn" type="button" id="locales2" value="en"
                    style="height: 20px;background-image: url(&quot;/assets/img/en.jpg&quot;);background-position: center;background-size: cover;background-repeat: no-repeat;padding-right: 12px;margin: 6px;margin-top: 6px;margin-right: -27px;margin-left: 1px;"></button>
        </div>
    </div>
</nav>
<div th:if="${param.error}">
    <div class="alert alert-danger" th:text="#{empty.value}">
    </div>
    <div th:if="${param.logout}">
        <div class="alert alert-info">
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <p class="d-lg-flex justify-content-lg-center align-items-lg-end" style="font-size: 23px;"
           th:text="#{all.in.progress.requests}">
            <strong></strong></p>
        <input name="${_csrf.parameterName}" value="${_csrf.token}" type="hidden">
    </div>
</div>
<div style="margin-left:20px; margin-right: 20px;" class="row">
    <div class="col">
        <div class="table-responsive">

            <table class="table">
                <thead>
                <tr>
                    <th th:text="#{request}"></th>
                    <th th:text="#{status}"></th>
                    <th th:text="#{price}"></th>
                </tr>
                </thead>
                <tbody>

                <div th:each="request: ${inProgressRequests}" >
                    <tr>
                        <td th:text="${request.request} "></td>
                        <td th:text="${request.status}"></td>
                        <td th:text="${request.price}"></td>
                        <td><a th:href="@{/master/in_progress_requests/completed(id=${request.id})}">Make completed</a>
                            <a th:href="@{/master/in_progress_requests/beyond_repair(id=${request.id})}">Make beyand repair</a></td>
                    </tr>
                </div>
                </tbody>
            </table>

        </div>
    </div>
</div>
<div  th:if="${newRequests!=null}" class="row">
    <!--                <div class="col-sm-6">-->
    <!--                    <div sd:pagination-summary="">info</div>-->
    <!--                </div>-->
    <div class="col-sm-6">
        <nav class="pull-right">
            <ul class="pagination" sd:pagination="full" sd:pagination-split="6">
                <!-- Pagination created by SpringDataDialect, this content is just for mockup -->
                <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
            </ul>
        </nav>
    </div>
</div>
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/bootstrap/js/bootstrap.min.js"></script>
<script src="/assets/js/script.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#locales").click(function () {
            var selectedOption = $('#locales').val();
            if (selectedOption != '') {
                window.location.replace('?lang=' + selectedOption);
            }
        });
    });
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#locales2").click(function () {
            var selectedOption = $('#locales2').val();
            if (selectedOption != '') {
                window.location.replace('?lang=' + selectedOption);
            }
        });
    });
</script>
</body>
</html>