<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Cabinet</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora">
    <link rel="stylesheet" href="/assets/css/styles4.min.css">
</head>

<body>
<nav class="navbar navbar-light navbar-expand-md navigation-clean-button">
    <div class="container"><a class="navbar-brand" href="#">RepAgency</a>
        <button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span
                class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse"
             id="navcol-1">
            <ul class="nav navbar-nav mr-auto">
                <li class="nav-item"  ><a class="nav-link"
                                          href="/user/create_request"
                                          th:text="#{new_request}"></a>
                </li>
                <li class="nav-item" ><a class="nav-link"
                                         href="/user/all_requests"
                                         th:text="#{my_orders}"></a>
                </li>
                <li class="nav-item" ><a
                        class="nav-link"
                        href="/user/create_comment" th:text="#{create_comment}"></a>
                </li>
                <!--                <li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')" role="presentation"><a class="nav-link"-->
                <!--                                                                                                  href="/admin/users"-->
                <!--                                                                                                  th:text="#{nav.usersList}"></a>-->
                <!--                </li>-->
                <!--                <li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')" role="presentation"><a class="nav-link"-->
                <!--                                                                                                  href="/admin/cabinet"-->
                <!--                                                                                                  th:text="#{orders}"></a>-->
                <!--                </li>-->
            </ul>
            <span class="navbar-text actions"> <a class="login" th:href="@{/logout}" th:text="#{nav.logout}"></a></span>
            <button class="btn" type="button" id="locales" value="uk"
                    style="height: 20px;background-image: url(&quot;/assets/img/ua.jpg&quot;);background-position: center;margin-right: 2px;margin-left: 15px;"></button>
            <button
                    class="btn" type="button" id="locales2" value="en"
                    style="height: 20px;background-image: url(&quot;/assets/img/en.jpg&quot;);background-position: center;background-size: cover;background-repeat: no-repeat;padding-right: 12px;margin: 6px;margin-top: 6px;margin-right: -27px;margin-left: 1px;"></button>
        </div>
    </div>
</nav>
<div th:if="${param.success}">
    <div class="alert alert-primary" th:text="#{created}">
    </div>
</div>
<div  style="width: 600px; margin:auto;" class="row justify-content-center align-items-center align-content-center align-self-center">
    <input name="${_csrf.parameterName}" value="${_csrf.token}" type="hidden"/>
    <div class="col" style="width: 404px;">
        <h3 th:text="#{new_request}"/>
        <form th:action="@{/user/create_request}"
              method="post"
               th:object="${requestDto}">
            <label th:text="#{task}"/>
            <label style="padding-left: 50px" th:text="#{forUser}"></label>
            <select id="mas" th:field="*{master}">
                <option th:each="master:${masters}" th:value="${master.getEmail()}" th:text="${master.getFirstName() + ' ' + master.getSurname()}"></option>
            </select>
        <br/>
            <textarea id="request" th:field="*{request}" rows="3"></textarea>
            <br/>
            <label th:text="#{deadline}"></label>
            <input style="margin-left:20px; margin-right: 20px;" id="deadline"
                   th:field="*{deadline}"
                   type="date"/>
            <br>
            <button style="margin-left: 300px" type="submit" th:text="#{msq.create}" class="btn btn-light">
                Create
            </button>
        </form>
    </div>
</div>
        <script src="/assets/js/jquery.min.js"></script>
        <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
        <script src="/assets/js/script.min.js"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                $("#locales").click(function () {
                    var selectedOption = $('#locales').val();
                    if (selectedOption != '') {
                        window.location.replace('?lang=' + selectedOption);
                    }
                });
            });
        </script>
        <script type="text/javascript">
            $(document).ready(function () {
                $("#locales2").click(function () {
                    var selectedOption = $('#locales2').val();
                    if (selectedOption != '') {
                        window.location.replace('?lang=' + selectedOption);
                    }
                });
            });
        </script>
</body>

</html>
